{% extends 'base.html' %}

{% block body %}
  <br><br>
  <div class="container-fluid">
    <h2>Notificaciones</h2>
    <hr>
    <!--<h3 style="color:green;">ALERTA:</h3>
    <p class="alert alert-danger" role="alert" style="font-size: 17">
      <strong>N° Oficio: </strong>1<br>
      <strong>Tipo de Oficio: </strong>Asuntos Penales<br>
      <strong>Submateria: </strong>Cancelación<br>
      <strong>Fecha de Entrega: </strong>19-Junio-2018<br><br>
      <button class="btn btn-danger" type="submit" style="width:15%">
        <i class="far fa-file-alt fa-1x"></i> Ir al Oficio</button>
    </p>
    <hr>
    <h3 style="color:green;">Proximos a Vencer:</h3>
    <p class="alert alert-warning" role="alert" style="font-size: 17">
      <strong>N° Oficio: </strong>2<br>
      <strong>Tipo de Oficio: </strong>Informe de Autoridad<br>
      <strong>Submateria: </strong><br>
      <strong>Fecha de Entrega: </strong>25-Junio-2018<br><br>
      <button class="btn btn-warning" type="submit" style="width:15%">
        <i class="far fa-file-alt fa-1x"></i> Ir al Oficio</button>
    </p>
    <p class="alert alert-warning" role="alert" style="font-size: 17">
      <strong>N° Oficio: </strong>3<br>
      <strong>Tipo de Oficio: </strong>Juicio de Amparo<br>
      <strong>Submateria: </strong><br>
      <strong>Fecha de Entrega: </strong>26-Junio-2018<br><br>
      <button class="btn btn-warning" type="submit" style="width:15%">
        <i class="far fa-file-alt fa-1x"></i> Ir al Oficio</button>
    </p>-->
  </div>
{% endblock %}
